@font-face {
  font-family: 'universmedium';
  src: url("../../fonts/univers-webfont.eot");
  src: url("../../fonts/univers-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/univers-webfont.woff2") format("woff2"), url("../../fonts/univers-webfont.woff") format("woff"), url("../../fonts/univers-webfont.ttf") format("truetype"), url("../../fonts/univers-webfont.svg#universmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/layout.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/layout.scss */
body {
  font-family: 'universmedium', sans-serif;
  font-weight: 200;
  width: 100%;
}

/* line 12, ../scss/layout.scss */
section {
  height: 700px;
  width: 100%;
}

/* line 17, ../scss/layout.scss */
p {
  font-size: 12px;
  color: #fff;
}

/* line 23, ../scss/layout.scss */
.bg-fixed {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 1;
  background-size: cover;
}
/* line 32, ../scss/layout.scss */
.bg-cover {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 800px;
  z-index: 1;
}

/* line 41, ../scss/layout.scss */
.header {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
/* line 46, ../scss/layout.scss */
.header--large {
  font-size: 48px;
}
/* line 2, ../../scss/blocks/circle.scss */
.circle {
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
/* line 7, ../../scss/blocks/circle.scss */
.circle p {
  text-align: center;
}
/* line 11, ../../scss/blocks/circle.scss */
.circle__header {
  padding-top: 112px;
  padding-bottom: 45px;
}
/* line 18, ../../scss/blocks/circle.scss */
.circle__content p {
  width: 90%;
  margin: 0 auto;
}
/* line 24, ../../scss/blocks/circle.scss */
.circle__time-stamp {
  font-size: 36px;
  padding-top: 50px;
  font-style: italic;
}
/* line 31, ../../scss/blocks/circle.scss */
.circle--mc-blue {
  background-color: #28456c;
}
/* line 34, ../../scss/blocks/circle.scss */
.circle--mc-brown {
  background-color: #a4633b;
}
/* line 40, ../../scss/blocks/circle.scss */
.circle--ec-blue {
  background-color: #79a1b7;
}
/* line 43, ../../scss/blocks/circle.scss */
.circle--ec-brown {
  background-color: #a6472b;
}
/* line 49, ../../scss/blocks/circle.scss */
.circle--mi-sand {
  background-color: #9f8655;
}
/* line 52, ../../scss/blocks/circle.scss */
.circle--mi-pink {
  background-color: #d25053;
}
/* line 58, ../../scss/blocks/circle.scss */
.circle--pc-pink {
  background-color: #593d65;
}
/* line 61, ../../scss/blocks/circle.scss */
.circle--pc-sand {
  background-color: #988f59;
}
/* line 67, ../../scss/blocks/circle.scss */
.circle--ma-yellow {
  background-color: #d9b73b;
}
/* line 70, ../../scss/blocks/circle.scss */
.circle--ma-brown {
  background-color: #a26939;
}
/* line 75, ../../scss/blocks/circle.scss */
.circle--top {
  width: 140px;
  height: 140px;
  text-align: center;
  position: relative;
  z-index: 4;
}
/* line 82, ../../scss/blocks/circle.scss */
.circle--top .icon {
  margin-top: 50px;
}
/* line 87, ../../scss/blocks/circle.scss */
.circle--center {
  width: 450px;
  height: 450px;
  margin-top: -100px;
  position: relative;
  z-index: 3;
}
/* line 95, ../../scss/blocks/circle.scss */
.circle--bottom {
  margin-top: -85px;
  width: 140px;
  height: 140px;
  position: relative;
  z-index: 4;
}
/* line 3, ../../scss/blocks/electronical-computer.scss */
.ec {
  position: relative;
  overflow: hidden;
  background-color: #2b769f;
}
/* line 8, ../../scss/blocks/electronical-computer.scss */
.ec__inner {
  position: relative;
  z-index: 2;
}
/* line 13, ../../scss/blocks/electronical-computer.scss */
.ec__bg {
  top: -500px;
  background-image: url("../../img/ec_bg.jpg");
}
/* line 1, ../../scss/blocks/icon.scss */
.icon {
  display: inline-block;
}
/* line 4, ../../scss/blocks/icon.scss */
.icon--scroll {
  background-image: url("../../img/icon-scroll.png");
  width: 43px;
  height: 44px;
}
/* line 10, ../../scss/blocks/icon.scss */
.icon--abacus {
  background-image: url("../../img/icon-abacus.png");
  width: 98px;
  height: 64px;
}
/**
 * Introduction
*/
/* line 7, ../../scss/blocks/introduction.scss */
.in {
  position: relative;
  overflow: hidden;
  background-color: #2f2f2f;
}
/* line 12, ../../scss/blocks/introduction.scss */
.in__inner {
  position: relative;
  width: 570px;
  margin: 0 auto;
  z-index: 2;
  /* parralax properties */
  margin-top: 250px;
}
/* line 21, ../../scss/blocks/introduction.scss */
.in__inner .header {
  margin-bottom: 50px;
}
/* line 25, ../../scss/blocks/introduction.scss */
.in__inner p {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
/* line 32, ../../scss/blocks/introduction.scss */
.in__header {
  opacity: 0;
  margin-top: 50px;
}
/* line 37, ../../scss/blocks/introduction.scss */
.in__content {
  opacity: 0;
  margin-top: 50px;
}
/* line 42, ../../scss/blocks/introduction.scss */
.in__icon-holder {
  opacity: 0;
  width: 43px;
  margin: 50px auto 0;
  position: relative;
}
/* line 48, ../../scss/blocks/introduction.scss */
.in__icon-holder .icon {
  position: relative;
  z-index: 4;
}
/* line 54, ../../scss/blocks/introduction.scss */
.in__scroll {
  opacity: 0;
  background-color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 9px;
  left: 60px;
  z-index: 3;
}
/* line 69, ../../scss/blocks/introduction.scss */
.in__bg {
  background-image: url("../../img/in_bg.jpg");
}
/* line 4, ../../scss/blocks/mechanical-computer.scss */
.mc {
  overflow: hidden;
  background-color: #28456c;
  position: relative;
}
/* line 9, ../../scss/blocks/mechanical-computer.scss */
.mc__inner {
  position: relative;
  z-index: 2;
  width: 450px;
  margin: 0 auto;
  /* scrollorama */
}
/* line 16, ../../scss/blocks/mechanical-computer.scss */
.mc__inner .circle__content {
  opacity: 0;
}
/* line 21, ../../scss/blocks/mechanical-computer.scss */
.mc__bg {
  background-image: url("../../img/mc_bg.jpg");
}
/* line 24, ../../scss/blocks/mechanical-computer.scss */
.mc__bg--1 {
  top: -500px;
}
/* line 28, ../../scss/blocks/mechanical-computer.scss */
.mc__bg--2 {
  top: -500px;
}
/* line 1, ../../scss/blocks/miniturisatie.scss */
.mi {
  position: relative;
  overflow: hidden;
}
/* line 5, ../../scss/blocks/miniturisatie.scss */
.mi__inner {
  position: relative;
  z-index: 2;
}
/* line 10, ../../scss/blocks/miniturisatie.scss */
.mi__bg {
  top: -500px;
  background-image: url("../../img/mi_bg.jpg");
}
/* line 1, ../../scss/blocks/mobile-devices.scss */
.md {
  position: relative;
  overflow: hidden;
}
/* line 5, ../../scss/blocks/mobile-devices.scss */
.md__inner {
  position: relative;
  z-index: 2;
}
/* line 10, ../../scss/blocks/mobile-devices.scss */
.md__bg {
  top: -500px;
  background-image: url("../../img/md_bg.jpg");
}
/* line 1, ../../scss/blocks/pay-off.scss */
.po {
  position: relative;
  overflow: hidden;
}
/* line 1, ../../scss/blocks/personal-computer.scss */
.pc {
  position: relative;
  overflow: hidden;
}
/* line 5, ../../scss/blocks/personal-computer.scss */
.pc__inner {
  position: relative;
  z-index: 2;
}
/* line 10, ../../scss/blocks/personal-computer.scss */
.pc__bg {
  top: -500px;
  background-image: url("../../img/pc_bg.jpg");
}
