/* line 1, ../scss/layout.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/layout.scss */
body {
  font-family: 'universmedium', sans-serif;
  font-weight: 200;
  width: 100%;
}

/* line 12, ../scss/layout.scss */
section {
  height: 700px;
  width: 100%;
}

/* line 17, ../scss/layout.scss */
#md2 {
  height: 500px;
}

/* line 21, ../scss/layout.scss */
p {
  font-size: 12px;
  color: #fff;
}

/* line 27, ../scss/layout.scss */
.bg-fixed {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 1;
  background-size: cover;
}
/* line 36, ../scss/layout.scss */
.bg-cover {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 800px;
  z-index: 1;
}

/* line 45, ../scss/layout.scss */
.header {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
/* line 50, ../scss/layout.scss */
.header--large {
  font-size: 48px;
}

/* line 55, ../scss/layout.scss */
.list {
  color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 61, ../scss/layout.scss */
.list--large {
  font-size: 14px;
}
/* line 66, ../scss/layout.scss */
.list--mc li {
  background-color: #28456c;
  padding: 5px 10px;
  margin: 20px 10px;
  border-radius: 5px;
}

/* line 75, ../scss/layout.scss */
.clearfix {
  clear: both;
}

/* line 79, ../scss/layout.scss */
.footer {
  padding: 20px 20px 40px;
  color: #000;
  width: 960px;
  margin: 0 auto;
}
/* line 85, ../scss/layout.scss */
.footer__left {
  float: left;
}
/* line 89, ../scss/layout.scss */
.footer__right {
  float: right;
  text-align: right;
}
