/* line 4, ../../scss/blocks/electronical-computer.scss */
.ec {
  position: relative;
  overflow: hidden;
  background-color: #2b769f;
}
/* line 9, ../../scss/blocks/electronical-computer.scss */
.ec__inner {
  position: relative;
  z-index: 2;
  max-width: 450px;
  margin: 0 auto;
}
/* line 16, ../../scss/blocks/electronical-computer.scss */
.ec__bg {
  top: -500px;
  background-image: url("../../img/ec_bg.jpg");
}
/* line 21, ../../scss/blocks/electronical-computer.scss */
.ec__content {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
/* line 27, ../../scss/blocks/electronical-computer.scss */
.ec__content h1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
}
/* line 33, ../../scss/blocks/electronical-computer.scss */
.ec__content p {
  font-size: 20px;
}
/* line 38, ../../scss/blocks/electronical-computer.scss */
.ec__list {
  position: relative;
}
/* line 41, ../../scss/blocks/electronical-computer.scss */
.ec__list-item {
  max-width: 295px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  position: absolute;
  opacity: 0;
}
/* line 50, ../../scss/blocks/electronical-computer.scss */
.ec__list-icon {
  text-align: center;
}
/* line 53, ../../scss/blocks/electronical-computer.scss */
.ec__list-icon .icon {
  padding: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-color: #79a1b7;
}
