/**
 * Introduction
*/
/* line 7, ../../scss/blocks/introduction.scss */
.in {
  position: relative;
  overflow: hidden;
  background-color: #2f2f2f;
}
/* line 12, ../../scss/blocks/introduction.scss */
.in__inner {
  position: relative;
  width: 570px;
  margin: 0 auto;
  z-index: 2;
  /* parralax properties */
  margin-top: 250px;
}
/* line 21, ../../scss/blocks/introduction.scss */
.in__inner .header {
  margin-bottom: 50px;
}
/* line 25, ../../scss/blocks/introduction.scss */
.in__inner p {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
/* line 32, ../../scss/blocks/introduction.scss */
.in__header {
  opacity: 0;
  margin-top: 50px;
}
/* line 37, ../../scss/blocks/introduction.scss */
.in__content {
  opacity: 0;
  margin-top: 50px;
}
/* line 42, ../../scss/blocks/introduction.scss */
.in__icon-holder {
  opacity: 0;
  width: 43px;
  margin: 50px auto 0;
  position: relative;
}
/* line 48, ../../scss/blocks/introduction.scss */
.in__icon-holder .icon {
  position: relative;
  z-index: 4;
}
/* line 54, ../../scss/blocks/introduction.scss */
.in__scroll {
  opacity: 0;
  background-color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 9px;
  left: 60px;
  z-index: 3;
}
/* line 69, ../../scss/blocks/introduction.scss */
.in__bg {
  background-image: url("../../img/in_bg.jpg");
}
