.icon {
	display: inline-block;

	&--scroll {
		background-image: url('../../img/icon-scroll.png');
		width: 43px;
		height: 44px;
	}

	&--abacus {
		background-image: url('../../img/icon-abacus.gif');
		width: 100px;
		height: 100px;
	}

	&--lamps {
		background-image: url('../../img/icon-lamps.gif');
		width: 100px;
		height: 100px;
	}

	&--chip {
		background-image: url('../../img/icon-chip.gif');
		width: 100px;
		height: 100px;
	}

	&--chip1 {
		background-image: url('../../img/icon-chip1.gif');
		width: 100px;
		height: 100px;
	}

	&--chip2 {
		background-image: url('../../img/icon-chip2.gif');
		width: 100px;
		height: 100px;
	}

	&--chip3 {
		background-image: url('../../img/icon-chip3.gif');
		width: 100px;
		height: 100px;
	}

	&--chip4 {
		background-image: url('../../img/icon-chip4.gif');
		width: 100px;
		height: 100px;
	}

	&--comp {
		background-image: url('../../img/icon-comp.gif');
		width: 100px;
		height: 100px;
	}

	&--phone {
		background-image: url('../../img/icon-phone.gif');
		width: 100px;
		height: 100px;	
	}

	&--calculating {
		background-image: url('../../img/icon-calculating.gif');
		width: 100px;
		height: 100px;
	}

	&--logaritme {
		background-image: url('../../img/icon-logaritme.gif');
		width: 100px;
		height: 100px;	
	}

	&--ponskaart {
		background-image: url('../../img/icon-ponskaart.gif');
		width: 100px;
		height: 100px;	
	}

	&--binair {
		background-image: url('../../img/icon-binair.gif');
		width: 100px;
		height: 100px;	
	}

	&--light {
		background-image: url('../../img/icon-light.gif');
		width: 100px;
		height: 100px;	
	}

	&--resistor {
		background-image: url('../../img/icon-resistor.gif');
		width: 100px;
		height: 100px;	
	}

	&--ibm {
		background-image: url('../../img/icon-ibm.gif');
		width: 100px;
		height: 100px;		
	}

	&--microsoft {
		background-image: url('../../img/icon-microsoft.gif');
		width: 100px;
		height: 100px;		
	}

	&--intel {
		background-image: url('../../img/icon-intel.gif');
		width: 100px;
		height: 100px;		
	}

	&--tablet {
		background-image: url('../../img/icon-tablet.gif');
		width: 100px;
		height: 100px;		
	}

	&--smartphone {
		background-image: url('../../img/icon-smartphone.gif');
		width: 100px;
		height: 100px;		
	}
}